$background-color: #F4F4F4;
$dust-gray: #999;
$dark-gray: #424242;
$primary-color: #00ADEE;
$white: #FFF;
$detail-grey: #ECECEC;
$detail-black: #000;
$detail-green: #BED23C;
$border-grey : #D8D8D8;
$red: #FF0000;
