@import './colors/variables';
@import './fonts/variables';

.btn-return {
  font-family: 'Roboto';
  font-size: $text-detail;
  width: 120px;

  &::before {
    content: "";
    background: url(../assets/back-arrow-20.png);
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 20px;
  }
}

.container {
  padding: 46px;
}

.container-detail {
  box-shadow: 3px 3px 5px 1px $detail-grey;
  background: $color-white;
  display: flex;
  margin: 44px auto;
  padding: 25px;
  width: 1000px;
}

.image-container {
  background: url(../assets/book-cover.png) no-repeat center;
  background-size: contain;
  height: 368px;
  margin-right: 54px;
  position: relative;
  width: 261px;

  &::after {
    background: url(../assets/badge.png) no-repeat center;
    background-size: contain;
    content: "";
    height: 143px;
    position: absolute;
    right: -20px;
    transform: rotate(15deg);
    top: -30px;
    width: 80px;
  }
}

.sub-title {
  color: $detail-grey;
  font-size: $subtitle-detail;
}

.sub-title,
.title,
.title-text {
  font-family: "Roboto";
  font-weight: 500;
}

.title {
  font-size: $title-detail;
}

.title-container {
  border-bottom: 5px solid $detail-green;
  margin-bottom: 52px;
  padding-bottom: 10px;
  width: 640px;
}

.text-detail {
  color: $detail-grey;
  display: block;
  font-family: "Roboto";
  font-size: $text-detail;
  font-weight: 400;
  margin-bottom: 36px;
}

.title-text {
  color: $detail-black;
  font-size: $text-detail;
  padding-right: 10px;
}

@media only screen and (max-width: 1024px) {
  .image-container {
    width: 212px;
    height: 300px;
    margin: 0 auto;
  }

  .container-detail {
    flex-direction: column;
    height: 570px;
    width: 336px;
  }
}
