@import './colors/variables';
@import './fonts/variables';

@mixin heightBox($width-badge){
  width: calc(80px - #{$width-badge});
}

.btn-return {
  font-family: 'Roboto';
  font-size: $text-detail;
  width: 120px;

  &::before {
    content: "";
    background: url(../assets/back-arrow-20.png);
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 20px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding: 46px;
}

.container-detail {
  box-shadow: 3px 3px 5px 1px #828282;
  background: #FFF;
  display: grid;
  margin: 44px auto;
  padding: 25px;
  align-items: center;
  width: 1000px;
  grid-template-rows: 79px auto;
  grid-template-columns: 312px auto;
  grid-template-areas: "image title" "image main";
}

.image-container {
  background: url(../assets/book-cover.png) no-repeat center;
  background-size: contain;
  height: 368px;
  position: relative;
  width: 261px;
  grid-area: image;

  &::after {
    background: url(../assets/badge.png) no-repeat center;
    background-size: contain;
    content: "";
    height: 143px;
    position: absolute;
    right: -20px;
    transform: rotate(15deg);
    top: -30px;
    width: 80px;
  }
}

.sub-title {
  color: $detail-grey;
  font-size: $subtitle-detail;
}

.sub-title,
.title,
.title-text {
  font-family: "Roboto";
  font-weight: 500;
}

.title {
  font-size: $title-detail;
}

.title-container {
  border-bottom: 5px solid $detail-green;
  padding-bottom: 10px;
  width: 640px;
  grid-area: title;
}

.text-detail {
  color: $detail-grey;
  display: block;
  font-family: "Roboto";
  font-size: $text-detail;
  font-weight: 400;
  margin-bottom: 36px;
}

.title-text {
  color: $detail-black;
  font-size: $text-detail;
  padding-right: 10px;
}

@media only screen and (max-width: 992px) {
  .btn-return {
    padding: 20px 0 0 20px;
  }

  .container {
    padding: 0px;
  }

  .container-detail {
    grid-template-areas: "title title" "image main";
    width: 853px;
  }

  .title {
    display: block;
  }

  .title-container {
    border: none;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .btn-return {
    align-self: center;
  }

  .container {
    flex-direction: column-reverse;
  }

  .container-detail {
    height: 570px;
    padding: 18px;
    width: 336px;
    grid-template-rows: 60px 345px auto;
    grid-template-columns: auto;
    grid-template-areas: "title" "image" "main";
  }

  .image-container {
    width: 212px;
    height: 300px;
    margin: 0 auto;

    &::after {
      right: -12px;
      top: -45px;
      @include heightBox(80px * 0.3)
    }
  }

  .sub-title {
    font-size: $subtitle-list;
  }

  .text-container {
    border-top: 3px solid $detail-green;
    padding-top: 20px;
  }

  .title {
    font-size: $title-responsive;
    display: block;
  }

  .title-container {
    width: 100%;
    border: none;
    margin: 0;
    text-align: center;
  }

  .text-detail,
  .title-text{
    font-size: $text-list
  }

  .text-detail {
    margin-bottom: 18px;
  }
}
