.btn-logout {
  margin: 0 36px;
  font-size: $text-button;
}

.container-book {
  box-shadow: 3px 3px 5px 1px $detail-grey;
  display: inline-block;
  padding: 28px;
  width: 198px;
  height: 300px;
  margin-top: 36px;
}

.container-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  top: 70px;
  align-items: center;
}

.container-nav {
  width: 100%;
  max-width: 900px;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-nav {
  width: 212px;
}

.image-list {
  background: url(../assets/book-cover.png) no-repeat center;
  background-size: cover;
  height: 200px;
  margin-bottom: 12px;
  width: 142px;
}

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  position: fixed;
  box-shadow: 3px 3px 5px 1px $detail-grey;
  background: $color-white;border-top: 6px solid $primary-color;
}

.title-list {
  color: $detail-black;
  display: block;
  font-size: $subtitle-list;
  margin-bottom: 8px;
}

.text-list {
  color: $detail-grey;
  font-size: $text-list;
}