.container-book {
  box-shadow: 4px 4px 10px 1px #828282;
  display: inline-block;
  margin: 36px;
  padding: 28px;
}

.container-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1330px;
  margin: 0 auto;
  width: 100%;
}

.image-list {
  background: url(../assets/book-cover.png) no-repeat center;
  background-size: cover;
  height: 200px;
  margin-bottom: 12px;
  width: 142px;
}

.title-list {
  color: $detail-black;
  display: block;
  font-size: $subtitle-list;
  margin-bottom: 8px;
}

.text-list {
  color: $detail-grey;
  font-size: $text-list;
}