@import '../../../scss/colors';

.containerCard {
  align-items: center;
  background: $background-color;
  border-top: 8px solid $primary-color;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
  width: 300px;
}

.imageLogo {
  height: 70px;
  width: 215px;
}
