@import 'src/scss/colors';

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.containerCard {
  align-items: center;
  background: $background-color;
  border-top: 8px solid $primary-color;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-around;
  width: 350px;
}

.containerForm {
  width: 252px;
}

.errorUser {
  color: $red;
}

.imageLogo {
  height: 70px;
  width: 215px;
}
