@import 'src/scss/colors.scss';
@import 'src//scss/fonts';

.square {
  background: $white;
  border-radius: 7px;
  box-shadow: -1px 1px 5px 2px $border-grey;
  float: left;
  font-size: $subtitle-square;
  font-weight: bold;
  height: 100px;
  line-height: 34px;
  margin: 20px;
  padding: 5px;
  text-align: center;
  transition: transform 500ms ease;
  width: 100px;
  
  &:hover {
    transform: scale(1.02, 1.02);
  }

  &:active {
    box-shadow: inset -3px -2px 5px 1px #d8d8d8;
  }
}

.square:focus {
  outline: none;
}
