@import 'src/scss/colors.scss';
@import 'src//scss/fonts';

.square {
  background: $white;
  border-radius: 7px;
  box-shadow: 2px 2px 9px 1px $border-grey;
  float: left;
  font-size: $subtitle-square;
  font-weight: bold;
  height: 90px;
  line-height: 34px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  transition: transform 300ms ease;
  width: 90px;
  
  &:hover {
    transform: scale(1.1, 1.1)
  }
}

.square:focus {
  outline: none;
}
