@import 'src/scss/colors.scss';
@import 'src/scss/fonts.scss';

.listMatches {
  height: calc(100vh - 70px);
  overflow: scroll;
  padding: 0;
  position: relative;
  width: 500px;
}

.itemInfo {
  align-items: center;
  border-bottom: 2px solid $background-color;
  display: flex;
  margin: 18px 0;
  padding: 5px 10px;
}

.infoContainer {
  position: relative;
  min-height: calc(100vh - 70px);
  top: 70px;
  display: flex;
}

.percentContainer {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.textInfo {
  font-size: $text-detail;
  margin: 4px 14px;
  text-align: center;
  width: 100px;
}

.winnerOne, 
.winnerTwo {
  font-size: 20px;
  padding: 20px;
  background: #a5cd3a;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}

.winnerTwo{
  background: #00adee;
}
