@import 'src/scss/colors.scss';
@import 'src/scss/fonts.scss';

.item-info {
  align-items: center;
  border-bottom: 2px solid $background-color;
  display: flex;
  margin: 18px 0;
  padding: 5px 10px;
}

.info-container {
  display: flex;
  min-height: calc(100vh - 70px);
  position: relative;
  top: 70px;
}

.list-matches {
  height: calc(100vh - 70px);
  overflow: scroll;
  padding: 0;
  position: relative;
  width: 500px;
}

.percent-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.text-info {
  font-size: $text-detail;
  margin: 4px 14px;
  text-align: center;
  width: 100px;
}

.winner-one, 
.winner-two {
  background: $detail-green;
  border-radius: 5px;
  color: $white;
  font-size: $text-detail;
  font-weight: 600;
  padding: 20px;
}

.winner-two{
  background: $primary-color;
}
