@import 'src/scss/colors.scss';
@import 'src//scss/fonts';

.game {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
}

.gameBoard {
  font-size: $text-detail;
  text-align: center;
}

.game-info {
  box-shadow: -1px 1px 5px 2px $border-grey;
  width: 300px;
  font-size: 20px;
  height: 100%;
  position: fixed;
  flex-direction: column;
  display: flex;
  right: 0;
  background: $white;
  top: 70px;
}

.itemInfo {
  margin: 10px;
}

.infoContainer {
  margin: 10px;
  overflow-y: scroll;
  padding: 0;
}

.spinner {
  margin: 0 auto;
}

.titleInfo {
  color: $detail-black;
  font-size: $text-detail;
  margin: 25px 0;
  text-align: center;
  width: 100%;
}
