@import 'src/scss/colors.scss';
@import 'src//scss/fonts';

.game {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
}

.gameBoard {
  font-size: $text-detail;
  text-align: center;
}

.game-info {
  background: $white;
  box-shadow: -1px 1px 5px 2px $border-grey;
  display: flex;
  flex-direction: column;
  font-size: $text-detail;
  height: 100%;
  right: 0;
  position: fixed;
  top: 70px;
  width: 300px;
}

.itemHistory {
  text-align: center;
  border-radius: 3px;
  width: 140px;
  margin: 20px auto;
  padding: 3px;
}

.itemInfo {
  margin: 10px;
}

.infoContainer {
  height: calc(100vh - 155px);
  margin: 10px;
  overflow-y: scroll;
  padding: 0;
}

.spinner {
  margin: 0 auto;
}

.status {
  color: $detail-black;
  font-size: 18px;
  margin-top: 28px;
  text-align: center;
}

.titleInfo {
  color: $detail-black;
  font-size: $text-detail;
  margin: 25px 0;
  text-align: center;
  width: 100%;
}
