.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  width: 150px;
}

.itemInfo {
  margin: 10px;
}

.infoContainer {
  padding: 0;
}

.spinner {
  margin: 0 auto;
}
