@import 'src/scss/colors';
@import 'src/scss/fonts';

.button-login {
  background: $detail-green;
  border-radius: 5px;
  color: $white;
  display: block;
  font-size: $subtitle-list;
  height: 32px;
  margin: 24px 0;
  padding: 5px;
  position: relative;
  text-align: center;
  width: 100%;

  &:hover {
    color: $white;
  }
}

.containerForm {
  width: 252px;
}

.separator {
  background: $border-grey;
  content: "";
  display: block;
  height: 2px;
  margin: 16px 0;
  width: 100%;
}
